<div class="list-column">
    <a class="list-column__font_grey" href="./profile.hbs">
        <span>Profile</span>
        <img src="../asserts/Polygon_1.png">
    </a>
    <form class="list-column__form">
        <input class="list-column__input" type="text" value="Search">
    </form>
    {{> chat-column/chat-column }}
    {{> chat-column/chat-column }}
    {{> chat-column/chat-column }}
</div>