<div class="list-column">
    <nav class="list-column__font_grey">
        <a href="./profile.hbs">
            <span>Profile</span>
            <img src="../asserts/Polygon_1.png">
        </a>
    </nav>

    <form class="list-column__form">
        <input class="list-column__input" type="text" value="Search">
    </form>
    {{> chat-column/chat-column }}
    {{> chat-column/chat-column }}
    {{> chat-column/chat-column }}
    <nav class="test">
        <ul>
            <li>
                <a href="./add-user.hbs">add user</a>
            </li>
            <li>
                <a href="./delete-user.hbs">delete user</a>
            </li>
            <li>
                <a href="./edit-details.hbs">edit details</a>
            </li>
            <li>
                <a href="./edit-password.hbs">edit password</a>
            </li>
            <li>
                <a href="./profile.hbs">profile</a>
            </li>
            <li>
                <a href="./error-404.hbs">error 404</a>
            </li>
            <li>
                <a href="./error-500.hbs">error 500</a>
            </li>
            <li>
                <a href="./login.hbs">login</a>
            </li>
            <li>
                <a href="./registration.hbs">registration</a>
            </li>
            <li>
                <a href="./load-file.hbs">load file</a>
            </li>
        </ul>
    </nav>

</div>
