<main class="login">
  <div class="login__modal">
    <h2 class="login__title">Entrance</h2>
    <form class="login__form">
        {{{inputLogin}}}
        {{{inputPassword}}}
        {{{loginButton}}}
        {{{registrationLink}}}
    </form>
  </div>
</main>