.input_error {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight400);
    font-size: 8px;
    line-height: 8px;
    margin-top: 2px;
    color: var(--error-sub-color-text);
  }