:root {
  --main-color: #fbfbfb;
  --text-color: #1e1e1e;
  --main-bg-color: #fff;

  --main-font-family: "Inter", Arial;
  --main-font-style: normal;
  --main-font-weight600: 600;
  --main-font-weight500: 500;
  --main-font-weight400: 400;

  --main-color-text: #1e1e1e;
  --disable-color-text: #999;
  --white-color-text: #fff;
  --blue-color-button: #3369f3;
  --error-sub-color-text: #ff2f2f;
}
