:root {
  --main-color: #FBFBFB;
  --text-color: #1E1E1E;
  --main-bg-color: #fff;

  --main-font-family: 'Inter', Arial;
  --main-font-style: normal;
  --main-font-weight600: 600;
  --main-font-weight500: 500;
  --main-font-weight400: 400;

  --main-color-text: #1E1E1E;
  --disable-color-text: #999999;
  --white-color-text: #fff;
  --blue-color-button: #3369F3;
  --error-sub-color-text: #FF2F2F;
}
