<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.pcss">
</head>

<main class="edit-password">
    <nav class="edit-password__back_button">
        <a href="./profile.hbs"></a>
    </nav>
    <form class="edit-password__container">
        <div>
            <img class="edit-password__avatar" src="../asserts/avatar_default.svg" alt="avatar">
            <h2 class="edit-password__name">Ivan</h2>
        </div>
        <ul class="edit-password__info">
            <li class="edit-password__row">
                <p class="edit-password__row_title">Old password</p>
                <input class="edit-password__row_input oldPassword" type="password" value="example123">
            </li>
            <li class="edit-password__row">
                <p class="edit-password__row_title">New password</p>
                <input class="edit-password__row_input newPassword" type="password" value="example">
            </li>
            <li class="edit-password__row">
                <p class="edit-password__row_title">New password again</p>
                <input class="edit-password__row_input newPassword_again" type="password" value="example">
            </li>
        </ul>
        <button class="edit-password__save-button">Save</button>
    </form>
</main>
</body>

</html>