<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.pcss">
</head>

<main>
    <div class="edit-details">
        <nav class="edit-details__back_button">
            <a href="./profile.hbs"></a>
        </nav>
        <form class="edit-details__container">
            <div>
                <img class="edit-details__avatar" src="../asserts/avatar_default.svg" alt="avatar">
                <h2 class="edit-details__name">Ivan</h2>
            </div>
            <ul class="edit-details__info">
                <li class="edit-details__row">
                    <label class="edit-details__row_title">Email</label>
                    <input class="edit-details__row_input" name="email" type="email" value="example@yandex.ru">
                </li>
                <li class="edit-details__row">
                    <label class="edit-details__row_title">Login</label>
                    <input class="edit-details__row_input" name="login" type="text" value="IvanovIvan">
                </li>
                <li class="edit-details__row">
                    <label class="edit-details__row_title">Name</label>
                    <input class="edit-details__row_input" name="first_name" type="text" value="Ivan">
                </li>
                <li class="edit-details__row">
                    <label class="edit-details__row_title">Surname</label>
                    <input class="edit-details__row_input" name="second_name" type="text" value="Ivanov">
                </li>
                <li class="edit-details__row">
                    <label class="edit-details__row_title">Nickname</label>
                    <input class="edit-details__row_input" name="display_name" type="text" value="Ivan">
                </li>
                <li class="edit-details__row">
                    <label class="edit-details__row_title">Telephone number</label>
                    <input class="edit-details__row_input" name="phone" type="text" value="+7 (903) 777 77 77">
                </li>
            </ul>
            <button class="edit-details__save-button">Save</button>
        </form>
</main>
</body>

</html>