<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.pcss">
</head>

<body>
    <main class="profile">
        <a class="profile__back_button" href="./"></a>
        <div class="profile__container">
            <div class="profile__avatar-container">
                <img class="profile__avatar" src="../asserts/avatar_default.svg" alt="avatar">
                <p class="profile__avatar-overlay">Change avatar</p>
                <h2 class="profile__name">Ivan</h2>
            </div>
            <ul class="profile__info">
                <li class="profile__row">
                    <p class="profile__row_title">Email</p>
                    <input class="profile__row_input" type="email" value="example@yandex.ru">
                </li>
                <li class="profile__row">
                    <p class="profile__row_title">Login</p>
                    <input class="profile__row_input" type="text" value="IvanovIvan">
                </li>
                <li class="profile__row">
                    <p class="profile__row_title">Name</p>
                    <input class="profile__row_input" type="text" value="Ivan">
                </li>
                <li class="profile__row">
                    <p class="profile__row_title">Surname</p>
                    <input class="profile__row_input" type="text" value="Ivanov">
                </li>
                <li class="profile__row">
                    <p class="profile__row_title">Nickname</p>
                    <input class="profile__row_input" type="text" value="Ivan">
                </li>
                <li class="profile__row">
                    <p class="profile__row_title">Telephone number</p>
                    <input class="profile__row_input" type="text" value="+7 (903) 777 77 77">
                </li>
            </ul>
            <div class="profile__container_buttons">
                <div class="profile__row">
                    <a class="profile__button" href="./edit-details.hbs">Edit details</a>
                </div>
                <div class="profile__row">
                    <a class="profile__button" href="./edit-password.hbs">Edit password</a>
                </div>
                <a class="profile__button profile__button_log-out" href="./">Log out</a>
            </div>
        </div>
    </main>
</body>

</html>