<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.pcss">
</head>

<body>
    <main class="registration">
        <div class="registration__modal">
            <h2 class="registration__title">Registration</h2>
            <form class="registration__form">
                <label class="registration__form_text">email</label>
                <div class="registration__input-block">
                    <input class="registration__input" name="email" type="email" value="Example">
                    <span class="registration__error"></span>
                </div>
                <label class="registration__form_text">Login</label>
                <div class="registration__input-block">
                    <input class="registration__input" name="login" type="text" value="Example">
                    <span class="registration__error"></span>
                </div>
                <label class="registration__form_text">Name</label>
                <div class="registration__input-block">
                    <input class="registration__input" name="first_name" type="text" value="Example">
                    <span class="registration__error"></span>
                </div>
                <label class="registration__form_text">Surname</label>
                <div class="registration__input-block">
                    <input class="registration__input" name="second_name" type="text" value="Example">
                    <span class="registration__error"></span>
                </div>
                <label class="registration__form_text">Telephone number</label>
                <div class="registration__input-block">
                    <input class="registration__input" name="phone" type="text" value="Example">
                    <span class="registration__error"></span>
                </div>
                <label class="registration__form_text">Password</label>
                <div class="registration__input-block">
                    <input class="registration__input" name="password" type="password" value="Example">
                    <span class="registration__error"></span>
                </div>
                <label class="registration__form_text">Password (one more time)</label>
                <div class="registration__input-block">
                    <input class="registration__input" name="password" type="password" value="Example">
                    <span class="registration__error">Password mismatch</span>
                </div>
                <button class="registration__button">Log in</button>
                <span class="registration__reserve_button">Have no account?</span>
            </form>
        </div>
    </main>
</body>

</html>