<a href="#" class="chat-column">
  {{{imageAvatar}}}
  {{!-- <img class="chat-column__image" src="../asserts/Ellipse.png" alt="default" /> --}}
  <div class="chat-column__text">
    <p class="chat-column__user">Alexey</p>
    <p class="chat-column__message">Some text, what do you want? Do you want to
      learn JavaScript? What if text so long and you want to discuss some?</p>
  </div>
  <div class="chat-column__time-zone">
    <p class="chat-column__time">10:49</p>
    <span class="chat-column__counter">2</span>
  </div>
</a>