<div class="popup">
    <div class="popup__modal">
        <h2 class="popup__title">Load file</h2>
        <button class="popup__secondary-button">Select file on computer</button>
        <form class="popup__form">
            <button class="popup__button">Change</button>
        </form>
        <p class="popup__error">You need to select a file</p>
    </div>
</div>