<div class="user-chat">
    <div class="user-chat__header">
        <img class="user-chat__header_avatar" src="../asserts/Ellipse.png" alt="avatar">
        <p class="user-chat__header_name">Alexey</p>
        <nav class="user-chat__header_menu">
            <button class="user-chat__header_menu_button"></button>
            <ul class="user-chat__header_menu_content">
                <li>
                    <a href="./add-user.hbs">
                        <img src="../asserts/add.svg" alt="add">
                        <span>Add user</span>
                    </a>
                </li>
                <li>
                    <a href="./delete-user.hbs">
                        <img src="../asserts/delete.svg" alt="delete">
                        <span>Delete user</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="user-chat__section">
        <p class="user-chat__section_date">19 July</p>
        <div class="user-chat__section_opponent">
            <span>
                Привет! Смотри, тут всплыл интересный кусок лунной космической истории —
                НАСА в какой-то момент попросила
                Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с
                моделью
                500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как
                астронавты с
                собой забрали только кассеты с пленкой.
                Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не
                попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                <p class="user-chat__section_opponent_time">14:10</p>
            </span>

        </div>
        <div class="user-chat__section_opponent_image">
            <img src="../asserts/test_picture.png" alt="image">
            <span class="user-chat__section_opponent_image-time">14:12</span>
        </div>
        <div class="user-chat__section_user">
            <span>WoW!!</span>
            <div class="user-chat__section_user-delivery">
                <img src="../asserts/delivery_message.png" alt="delivery_message">
                <span>12:00</span>
            </div>
        </div>
    </div>
    <div class="user-chat__footer">
        <nav class="user-chat__footer_additional">
            <button class="user-chat__footer_additional_button"></button>
            <ul class="user-chat__footer_additional_content">
                <li>
                    <a href="#">
                        <img src="../asserts/photo_video.svg" alt="photo_video">
                        <span>Photo & video</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../asserts/file.svg" alt="file">
                        <span>File</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../asserts/location.svg" alt="location">
                        <span>Location</span>
                    </a>
                </li>
            </ul>
        </nav>
        <form class="user-chat__footer_form">
            <input class="user-chat__footer_input" type="text" value="Write a message...">
            <button class="user-chat__footer_send-button"></button>
        </form>
    </div>
</div>