<div class="popup">
  <div class="popup__modal">
    <h2 class="popup__title">Load file</h2>
    <form id="file" class="popup__form">
      {{{selectFileInput}}}
      {{{changeButton}}}
    </form>
    {{#if error}}
      <p class="popup__error">{{error}}</p>
    {{/if}}
  </div>
</div>