.popup-btn {
  display: flex;
  padding: 14px 0 10px 16px;
  cursor: pointer;
  font-family: var(--main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight500);
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.popup-btn span {
  align-self: center;
}

.popup-btn:hover {
    background-color: #e4edfd;
    border-radius: 10px;
}
